<header class="route-header">
  <h1 class="display-2">ngx-highlight-js</h1>
</header>

<p class="lead">
  Angular component and service for <a href="https://highlightjs.org">Highlight.js</a>.
  Works with remote URLs or strings/variables.
  Loads highlight.js core, andlanguages and themes as needed.
  No dependencies.
</p>
<section>
  <p>Do this...</p>
  <ngx-highlight-js lang="xml" [code]="npmI"></ngx-highlight-js>
  <p>Get this...</p>
  <ngx-highlight-js lang="bash" code="npm i @nowzoo/ngx-highlight-js --save"></ngx-highlight-js>
</section>


<p>
  <a routerLink="/quick-start" class="btn btn-primary mr-4">Quick Start</a>
  <a routerLink="/examples" class="btn btn-primary mr-4">More Examples</a>
  <a routerLink="/api" class="btn btn-primary mr-4">API</a>
</p>
