/* You can add global styles to this file, and also import other style files */

h1.display-2 {
  // font-size: 2em;
}

.route-header {
  margin: 2em 0;
  padding-bottom: 1em;
  border-bottom: 1px solid #DDD;

}
section {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #EEE;

}
